<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstap.css">
    <script src="js/jquery.js"></script>
    <script>
        $(function(){
            $("#header").load("header.html");
        });
    </script>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
</head>
<body>
<div id="header"></div>

<div class="container">
    <h2>Add Student</h2>
    <form id="demo">
        <select class="form-control" id="sel1" v-model="studentId"  >
            <!--<option value="">Select Any value</option>-->
            <option v-for="student in students"
                    :value="student.id">{{ student.name }} </option>
            <!-- <option value="v.id">{{v.name}}</option>-->
            <!--<option value="2">MI</option>-->
        </select>
        <br>
        <button class="btn btn-default" v-on:click= "addStudent">Add Student</button>
    </form>

</div>

</body>
</html>

<script>
    let app =new Vue({
        el: '#demo',
        data: {
            name  : '',
            courses : [],
            CourseId: '',
            batchId : '',
            studentId : '',
            students : []
        },
        methods : {
            addStudent() {
                // var res = CourseId.split("/");
                // console.log(res)
                var obj = {studentId : this.studentId};
                console.log(obj)
                // if(this.courseId == '')
                console.log('/courses'+this.courseId)
                new Promise((resolve) => {
                    axios.post('/courses/'+this.courseId + '/batches/'+this.batchId +'/students', obj).then(function (data) {
                    resolve(data.data)
                    // console.log(data.data)
                    })
                }).then((data) => {
                        console.log(data)
                })
                //
                window.alert("Student has been added to the batch")
                // window.location();
                // window.alert("Student has been added to the batch")
               // window.location.replace('http://www.rainbowcode.net/index.php/profiles/mail?='+mailid)
               //  window.location = "courseStudent.html?id="+this.courseId + '/batches/'+this.batchId;

                // app.init()
            },
            init(){
                var ids =window.location.search ;
                // console.log(ids.substr(ids.indexOf("=")+1) )
                temp = ids.substr(ids.indexOf("=")+1);
                console.log(temp)
                var res = temp.split("/");
                // console.log(res)
                this.courseId = res[0]
                this.batchId = res[2]
                console.log(this.courseId + " " + this.batchId)
                if(this.courseId ==='' || this.batchId === '')window.location = "course.html"
            },
            getAllStudent(){
                new Promise((resolve)=>{
                    axios.get('/students').then(function (data) {
                    resolve(data.data)
                    console.log(data.data)
                })
            }).then((data)=>{
                    this.students = data
            })
            }
        }
    })
    app.init()
    app.getAllStudent();

</script>
</body>
</html>